/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body{
    background-color:azure;
}
footer{
    background-color:white;
}
#createUser{
    background-color:white;
    padding:10%;
}
#sharedLayout {
    margin: 15px auto 150px auto;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    font-size:12px;
  padding:10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 25px; /* Vertically center the text there */
}

/* Scaling button styles
-------------------------------------------------- */
.a-btn-slide-text:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 0.6;
    color: white;
}

.a-btn-slide-text {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.teacher-container{
    background-color:white;
}
#StudentHeader {
    background-color: lightgrey;
    width: 100%;
    border: 8px inherit;
    padding: 50px;
    margin: 10px;
    height: 200px;
    background-color: lightgrey;
    background-image: linear-gradient(to bottom right, grey, lightblue);
    transition: width 2s;
}

#carduppgifter {
    background-color: lightgrey;
    width: 100%;
    border: 8px inherit;
    border-radius: 35px;
    padding: 50px;
    margin: 10px;
    height: 200px;
    background-color: GrayText;
    background-image: linear-gradient(to bottom right, white, grey);
    transition: width 2s;
}

#cardvecka {
    background-color: transparent;
    border-style: groove;
    border-radius: 35px;
    opacity: inherit;
}