#body {
    background-color: ThreeDHighlight powderblue;
}
#h4{

}

#StudentHeader {
    background-color: lightgrey;
    width: 100%;
    border: 8px inherit;
    padding: 50px;
    margin: 10px;
    height: 200px;
    background-color: lightgrey;
    background-image: linear-gradient(to bottom right, grey, lightblue);
    transition: width 2s;
}

#carduppgifter {
    background-color: lightgrey;
    width: 100%;
    border: 8px inherit;
    border-radius: 35px;
    padding: 50px;
    margin: 10px;
    height: 200px;
    background-color: GrayText;
    background-image: linear-gradient(to bottom right, white, grey);
    transition: width 2s;
}
#cardvecka {
    background-color: transparent;
    border-style: groove;
    border-radius: 35px;
    opacity: inherit;
}