.ddzone.in {
    background: palegreen;
    border: 2px solid #65c465;
    opacity: 0.5;
}

.ddzone.hover {
    background: lawngreen;
}

.ddzone.fade {
    transition: all 0.3s ease-out;
    opacity: 1;
}

.ddzone {
    min-height: 25px;
    border: 0px solid rgba(80,80, 80, 0.3);
    background: rgba(255,255, 255, 0.1);
    padding: 0;
}
