@model LMSLexicon20.Models.ViewModels.ShowDocuments

    
        
        <div class="card-body">
            @if (Model.Documents != null)
            {
                @foreach (var doc in Model.Documents)
                {
                    if (doc.UserId != null)
                    {
                        @*<script>showBadge();</script>*@
                        <div class="d-flex  justify-content-between align-items-center">
                            <a asp-action="Details" asp-route-id="@doc.UserId">
                                @Html.DisplayFor(model => doc.User.UserName)
                            </a>
                            <span class="float-right d-inline-flex align-items-center">
                                @Html.DisplayFor(model => doc.Name)
                                <i class="fas fa-info-circle text-info ml-3" data-toggle="tooltip" title="Inlämnad @Html.DisplayFor(model=>doc.Date)" data-placement="right"></i>
                            </span>
                        </div>
                    }
                }
            }
        </div>

