@model CreateModuleViewModel

@{
    ViewData["Title"] = "Skapa Modul";
}
<h2 class="bg-dark shadow-lg border rounded-lg font-weight-bold text-light p-4">SKAPA NY MODUL</h2>
<hr />
<div class="row">
    <div class="col-md-6 p-3">
        <form asp-action="CreateModule"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="after"
              data-ajax-update="#accordion"
              data-ajax-success="DisplayCreateModuleSuccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tidsperiod</label>
                <div class="form-inline">
                    <input asp-for="StartDate" class="form-control" />
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span><br />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                    @*<label asp-for="EndDate" class="control-label"></label>*@
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" maxlength="500"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group btn-group-sm">
                <button type="submit" class="btn btn-sm btn-outline-primary a-btn-slide-text">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>&nbsp;Lägg till&nbsp;
                    <i class="fas fa-layer-group" aria-hidden="true"></i>
                </button>
                <a href="javascript:history.go(0)" class="btn btn-sm btn-outline-secondary a-btn-slide-text">
                    <i class="fas fa-ban" aria-hidden="true"></i>
                    <span>Avbryt</span>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
