@{
    ViewData["Title"] = "Home Page";
}
    <body style="background-color:powderblue;">

        <div class="text-center">
            <h1 class="display-4">WELCOME TO THE LEXICON LMS</h1>
            <div class="item">
                <div class="container-fluid">
                    <img class="img-fluid" src="../../wwwroot/Images/group.jpg" alt="">

                </div>

            </div>
        </div>

</body>