@{
    ViewData["Title"] = "Home Page";
}
    <body style="background-color:lightsteelblue;">

        <div class="text-center">
            <h1 class="display-4">WELCOME TO THE LEXICON LMS</h1>
        </div>

</body>